@media (min-width: 1200px) {
    .jumbotron h2 {
        margin-top: 0px;
    }

    .jumbotron {
        padding: 0px;
    }

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .jumbotron h2 {
        margin-top: 0px;
    }

    .jumbotron {
        padding-top: 0px;
    }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .jumbotron h2 {
        margin-top: 0px;
    }

    .jumbotron {
        padding: 0px;
    }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

    .jumbotron h2 {
        margin-top: 0px;
    }

    .jumbotron {
        padding: 0px;
    }

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .jumbotron h2 {
        margin-top: 0px;
    }

    .jumbotron {
        padding: 0px;
    }
}


/**
 * jumbotron animation
 */

 .cardhover:hover{
    background-image:linear-gradient(to top, #ffeaa4 51%, transparent 50%);
    background-position: 0 100%;
    -webkit-transition: background-position 300ms, color 300ms ease-in;
    -moz-transition: background-position 300ms, color 300ms ease-in;
    -ms-transition: background-position 300ms, color 300ms ease-in;
    -o-transition: background-position 300ms, color 300ms ease-in;
    transition: background-position 300ms, color 300ms ease-in;
 }

.jumbotron {
    
    width: 30wh;
    height: 15vh;
    color: #fff;
    background: linear-gradient(-45deg, #a59b9f, #c05d0c);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
